*{
	margin: 0;
	padding: 0;
}
body{
	font-family:"Microsoft YaHei",微软雅黑;
	background:#DEDEDE;
}
a{
	/*color:#2d374b;*/
	text-decoration:none
}
a:hover{
	/*color:#cd0200;*/
	text-decoration:underline
}
/*li{list-style:none}*/
img{
	border:0;
	vertical-align:middle
}
table{
	border-collapse:collapse;
	border-spacing:0
}
p{
	word-wrap:break-word
}
.fr{
	float: left;
}
.fl{
	float: right;
}
.clear:after{
	content:"";
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
}
header{
	width: 100%;
	min-width: 1300px;
	height: 60px;
	background:#333333;
}
#logo{
	margin: 5px 0 10px 30px;
	width: 130px;
	height: 50px;
}
.topnav{
	height: 60px;
	width: auto;
	margin-right: 20px;
}
.topnav li{
	display: block;
	float: left;
	margin: 0 5px;
	line-height:60px;
}
.topnav li a{
	color: #ECEBEB;
	font-size: 12px;
}
#n{color: #BAB9B9;}
.content{
	box-sizing: border-box;
	background: #fff;
	width: 1300px;
	margin: 25px auto 10px;
	height: auto;
	padding: 20px;
	border-right: 3px solid #8C8C8D;
	border-bottom: 3px solid #8C8C8D;
}
.content h4{
	color: #68696A;
	margin-top: 10px;
}
.content h6{
	color: #68696A;
	margin-bottom: 10px;
}
.content h2,.content h4,.content h6{
	line-height: 30px;
}
.content .zw{
	text-indent: 2em;
	font-size: 14px;
	letter-spacing: 3px;
	line-height: 30px;
}
.zw a{
	text-decoration: underline;
	color: #0C1EF6;
}
.zwlist{
	margin-left: 20px; 
}
.photolist{
	margin:10px 0 10px 50px;
}
.photolist li{
	display: block;
	width: 130px;
	height: 120px;
	text-align: center;
	padding: 5px;
	margin-top: 20px;
	border: 1px solid #666;
}
.photolist li img{
	width: 100px;
	height: 80px;
	margin-top: 5px;
}
.lastlist{
	margin:10px 0 10px 50px;
}
.tab{
	width: 100%;
}
.tab th{
	background: #333333;
	color: #fff;
	text-align: left;
}
.tab .last{
	background: #CCCCCC;
}
.formlist{
	margin-left: 20%;
	font-size: 14px;
	line-height: 30px;
}
.formlist tr td{
	padding: 0 10px;
}
.formlist tr td:first-child{
	text-align: right;
}
.formlist .b{
	color: #999;
}
.formlist textarea{
	height: 80px;
	width: 800px;
}
.content .btn{
	display: block;
	font-size: 16px;
	width: 95%;
	height: 40px;
	border-radius: 10px;
	background: #3355D0;
	color: #fff;
	margin:0 auto;
}
.copyright{
	height: 70px;
	line-height: 70px;
	width: 100%;
	min-width: 1300px;
	background: #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin:0 auto;
}