.wrap{
	width: 400px;
	height: 200px;
	background: #ccc;
	margin: auto;  
  	position: absolute;  
  	top: 0; left: 0; bottom: 0; right: 0;  
}

.left{
	border-radius: 0 0 50px 0 ;
	height: 50px;
	width: 50px;
	background: #fc0;
}
.right{
	border-radius: 50px 0 0 0 ;
	height: 50px;
	width: 50px;
	background: #fc0;
	position: absolute;
	right: 0;
	bottom: 0;
}